<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>
</head>
<body>
    <h1>Form Page</h1>
    <form action="/process" method="post">
        <label for="data">Enter token:</label>
        <input type="text" name="token" required>

        <label for="data">Enter method:</label>
        <input type="text" name="method" required>

        <label for="data">Enter AWS URL:</label>
        <input type="text" name="aws_url" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

